// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}



html, body {
	height: 100%;
	width: 1000px;
	margin: 0 auto;
}

@favcolor: green;

header {
	font-size: 2em;
	color: @favcolor;
	background: lightgray;

	h1 {
	font-size: 1.9em;
	color: @favcolor;	
	}

	button {

	}
}

.middle-content {
	display: flex;

	h1 {
		font-size: 2em;
		padding-bottom: 10px;
	}
	
	p {
		display: block;
	}

	#left {
		width: 70%;
		padding: 20px;
	}
	

	#right {
		width: 25%;
	}
}

.nav {
	font-size: 1.5em;
	display: block;
	text-align: center;
	padding: 20px;

	a {
		text-decoration: none;
		color: black;
	}

}

.future-me {
	width: 600px;
	height: 366px;
	
}

.jackofalltrades {
	width: 80px;
	height: 80px;
}

table, th, td {
	border: .5px solid lightgray;

	

	table {
		border-spacing: 5px;
		table-layout: fixed;
	}

	th, td {
		padding: 15px;
	}
}

.end {
	.exp-caption{
		text-align: center;
	}

	table {
		width: 100%;

		table tr:nth-child(odd) {
			background-color: #ccc;
		  }
	}
}

footer {
	background: gray;
	height: 50px;
	color: white;
	text-align: center;
	padding-top: 18px;
}
